name: Update Docker Hub Description

on:
  push:
    branches:
      - main
      - master
    paths:
      - DOCKER_README.md

jobs:
  update-description:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Update Docker Hub description
        uses: peter-evans/dockerhub-description@v4
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          repository: andybochmann/pillar
          readme-filepath: ./DOCKER_README.md
